@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .my-container {
    @apply container px-4 mx-auto sm:px-6 lg:px-8;
  }

  .cursor-zoom-in {
    cursor: zoom-in;
  }

  .abstract-bg {
    background-image: url('/vectors/abstract.svg');
  }
}

@layer base {
  *[id] {
    scroll-margin-top: 4rem;
  }

  main {
    @apply bg-gray-50 dark:bg-gray-700;
  }

  a,
  button {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-soft dark:focus:ring-primary-dark dark:focus:ring-offset-transparent;
  }
}
